In [5]:
import pandas as pd
import json

## Aviationstack

### flight data (``flight``, ``airport``, ``airline``)

In [19]:
f = open('./aviationstack/data/json/flights_response.json')
data = json.load(f)
df = pd.json_normalize(data,record_path="data",max_level=2)
df.columns

Index(['flight_date', 'flight_status', 'aircraft', 'live', 'departure.airport',
       'departure.timezone', 'departure.iata', 'departure.icao',
       'departure.terminal', 'departure.gate', 'departure.delay',
       'departure.scheduled', 'departure.estimated', 'departure.actual',
       'departure.estimated_runway', 'departure.actual_runway',
       'arrival.airport', 'arrival.timezone', 'arrival.iata', 'arrival.icao',
       'arrival.terminal', 'arrival.gate', 'arrival.baggage', 'arrival.delay',
       'arrival.scheduled', 'arrival.estimated', 'arrival.actual',
       'arrival.estimated_runway', 'arrival.actual_runway', 'airline.name',
       'airline.iata', 'airline.icao', 'flight.number', 'flight.iata',
       'flight.icao', 'flight.codeshared.airline_name',
       'flight.codeshared.airline_iata', 'flight.codeshared.airline_icao',
       'flight.codeshared.flight_number', 'flight.codeshared.flight_iata',
       'flight.codeshared.flight_icao', 'flight.codeshared',
       'aircraft.registration', 'aircraft.iata', 'aircraft.icao',
       'aircraft.icao24', 'live.updated', 'live.latitude', 'live.longitude',
       'live.altitude', 'live.direction', 'live.speed_horizontal',
       'live.speed_vertical', 'live.is_ground'],
      dtype='object')

In [20]:
df

,flight_date,flight_status,aircraft,live,departure.airport,departure.timezone,departure.iata,departure.icao,departure.terminal,departure.gate,...,aircraft.icao,aircraft.icao24,live.updated,live.latitude,live.longitude,live.altitude,live.direction,live.speed_horizontal,live.speed_vertical,live.is_ground
0,2022-01-01,landed,NaN,NaN,Barajas,Europe/Madrid,MAD,LEMD,4,K68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-01,landed,NaN,NaN,Dyce,Europe/London,ABZ,EGPD,None,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-01,landed,NaN,NaN,Hobart,Australia/Hobart,HBA,YMHB,D,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,landed,NaN,NaN,Fukuoka,Asia/Tokyo,FUK,RJFF,D,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-01,landed,NaN,NaN,Haneda Airport,Asia/Tokyo,HND,RJTT,1,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-01-01,cancelled,NaN,NaN,Los Angeles International,America/Los_Angeles,LAX,KLAX,TBIT,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022-01-01,scheduled,NaN,NaN,Los Angeles International,America/Los_Angeles,LAX,KLAX,B,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022-01-01,scheduled,NaN,NaN,John F Kennedy International,America/New_York,JFK,KJFK,5,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2022-01-01,scheduled,NaN,NaN,John F Kennedy International,America/New_York,JFK,KJFK,5,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022-01-01,landed,NaN,NaN,Los Angeles International,America/Los_Angeles,LAX,KLAX,5,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## NOAA

### Daily observations (``station``, ``weather``)

In [22]:
df = pd.read_csv('./weather-noaa/data/daily-summaries-sample.csv')
df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WSF2
0,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WSF2
1,USW00053864,"ALABASTER SHELBY CO AIRPORT ASOS, AL US",33.17835,-86.78178,172.5,01/12/2021,0.9,0,NaN,NaN,11.7,21.1,4.4,4.5
2,USW00053864,"ALABASTER SHELBY CO AIRPORT ASOS, AL US",33.17835,-86.78178,172.5,02/12/2021,1,0,NaN,NaN,13.8,23.3,7.2,5.4
3,USW00053864,"ALABASTER SHELBY CO AIRPORT ASOS, AL US",33.17835,-86.78178,172.5,03/12/2021,0.5,0,NaN,NaN,14.3,23.9,7.2,3.6
4,USW00053864,"ALABASTER SHELBY CO AIRPORT ASOS, AL US",33.17835,-86.78178,172.5,04/12/2021,0.4,0,NaN,NaN,14.7,22.2,9.4,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50784,USC00087429,"QUINCY 3 SSW, FL US",30.54972,-84.58361,74.7,26/01/2022,NaN,3,0,0,NaN,11.1,6.7,NaN
50785,USC00087429,"QUINCY 3 SSW, FL US",30.54972,-84.58361,74.7,27/01/2022,NaN,0,0,0,NaN,16.7,5,NaN
50786,USC00087429,"QUINCY 3 SSW, FL US",30.54972,-84.58361,74.7,28/01/2022,NaN,0,0,0,NaN,17.2,3.9,NaN
50787,USC00087429,"QUINCY 3 SSW, FL US",30.54972,-84.58361,74.7,01/02/2022,NaN,0,0,0,NaN,20,1.7,NaN
50788,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WSF2

## Climatiq

### Flight emission (``emission``)

In [25]:
cols = ["flight_id", "co2e", "co2e_unit", "source", "region", "category", "lca_activity"]
df = pd.read_csv('./climatiq-emissions/data/emissions.csv', names=cols)
df

,flight_id,co2e,co2e_unit,source,region,category,lca_activity
0,BA4806,15349.017755,kg,GHG Protocol,US,Air Travel,fuel_combustion
1,LH9376,2607.884194,kg,GHG Protocol,US,Air Travel,fuel_combustion
2,SK8733,17138.742202,kg,GHG Protocol,US,Air Travel,fuel_combustion
3,AM3656,61745.493412,kg,GHG Protocol,US,Air Travel,fuel_combustion
4,FJ5872,36714.918650,kg,GHG Protocol,US,Air Travel,fuel_combustion
...,...,...,...,...,...,...,...
18075,1I607,3570.926396,kg,GHG Protocol,US,Air Travel,fuel_combustion
18076,UA6973,3809.556322,kg,GHG Protocol,US,Air Travel,fuel_combustion
18077,5Y7832,16516.599894,kg,GHG Protocol,US,Air Travel,fuel_combustion
18078,AS4212,46822.600525,kg,GHG Protocol,US,Air Travel,fuel_combustion
18079,CPT8810,8641.812329,kg,GHG Protocol,US,Air Travel,fuel_combustion

## Simplemaps

### US Cities (``City``)

In [26]:
df = pd.read_csv('./city/data/uscities-over10k.csv')
df

               city state_id  state_name  latitude  longitude  population
0          New York       NY    New York   40.6943   -73.9249    18713220
1       Los Angeles       CA  California   34.1139  -118.4068    12750807
2           Chicago       IL    Illinois   41.8373   -87.6862     8604203
3             Miami       FL     Florida   25.7839   -80.2102     6445545
4            Dallas       TX       Texas   32.7936   -96.7662     5743938
...             ...      ...         ...       ...        ...         ...
4162        Midland       WA  Washington   47.1734  -122.4120       10005
4163  Bull Mountain       OR      Oregon   45.4126  -122.8322       10005
4164      Flat Rock       MI    Michigan   42.0991   -83.2716       10004
4165    Quartz Hill       CA  California   34.6527  -118.2163       10003
4166        Molalla       OR      Oregon   45.1502  -122.5844       10001

[4167 rows x 6 columns]